name: style check
on: [push]
jobs:
  style:
    name: Style Checks
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install
      run: npm install
    - name: ts-lint
      run: npm run lint
    - name: es-lint
      run: npm run style:check